/* Change the default chrome's input field color;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #006699 inset;
	box-shadow: 0 0 0 30px #6eb168 #006699;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent!important;
    color: #ffffff!important;
}

#anony-user-menu-icon{
	background-image: url('../../images/user-icon.png');
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 5px;
}

.ucntrl-menu-item{
	min-width: 200px;
}

.ucntrl-menu-item, #anony-uc-menu-toggle{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 200px;
}
#anony-uc-menu-toggle{
	justify-content: center;
}
.user-control  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(87,122,140);
    opacity: 1; /* Firefox */
}

.user-control :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(87,122,140);
}

.user-control ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(87,122,140);
}
.usercontrol {
	position: fixed;
	bottom: 0;
	padding: 0;
	margin: auto;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}
.user-control {
	background-color: #006699;
	padding: 20px;
	border-radius: 30px 0 30px 0;
	color: aliceblue;
	width: 70%;
	margin: auto;
}

.user-control a,.user-control p{
	color: aliceblue !important;
	padding: 5px;
}

.user-control div{
	padding: 0 8px;
}

.user-control p,.login-info{
	text-align: center!important;
}
.user-control form{
	width: 95%;
	margin: auto;
}
.forgot-password{
	display: inline-block;
	color: #222222;
	font-size: 14px;
}
.user-control-form .anony-uc-button{
	display: inline-block;
	width: 25%;
	padding: 5px;
	line-height: 25px;
	color:
	aliceblue;
	text-align: center;
	background-color:
	#0e2f40;
	border: none;
	cursor: pointer;
	font-weight: bold;
	margin-top: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#user_nav_con{
	width: 70%;
	margin: auto;
}
#rememberme{
	width: auto!important;
}

.user-control-form input {
	width: 100%;
	font-size: 18px;
	color: #6e7a99!important;
	padding: 15px;
	border:0;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	font-family: FontAwesome;
}

.password {
	border-top: none!important;
}
#user_nav_con, #user_menu_con .fa{
	padding: 3px;
}
#user_nav_con, #user_menu_con li span{
	display: flex;
	align-items: center;
	width: 100%;
	margin: auto;
	color: #c2c2c2;
}
#user_menu_con li span{
justify-content: space-between;
	
}
#user_menu_con li span i{
	cursor: pointer;
}
#user_menu_con li{
	position: relative;
	display: flex;
}
#user_menu_con li a{
	color: #c2c2c2;
	font-size: 14px;
	padding: 6px;
	display: block;
	text-align: center;
	width: 100%;
}
.anony-user-dropdown{
	position: absolute;
	display: none;
	background-color: #ffffff;
	z-index: 1000000;
	border: 1px solid #c2c2c2;
	border-radius: 5px;
	width: 100%;
	top: -5px;
	
}

.anony-user-dropdown::before{
	content: '';
	display: block;
	border-top: 1px solid #c2c2c2;
	border-right: 1px solid #c2c2c2;
	background: #fff;
	width: 10px;
	height: 10px;
	transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-webkit-transform: rotateZ(-45deg);
	position: absolute;
	top: -7px;
	left: 0;
	right: 0;
	margin:auto;


}

#user_menu_con .anony-user-dropdown li{
	border-bottom: 1px solid rgba(197,193,193,0.70);
}
#user_menu_con .anony-user-dropdown li:last-child{
	border-bottom: none;
}

.anony-user-dropdown li a{
	padding: 5px;
	font-size: 16px;
	border-bottom: 1px solid #e3e3e3;
	display: block;
	width: 100%;
}

@media screen and (max-width: 767px){
	#user_nav_con{
		width: 160px;
		position: absolute;
		top: 0;
		right: 50px;
	}   
	
}


