.usercontrol {
	position: fixed;
	bottom: 0;
	padding: 0;
	margin: auto;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}
#usercontrol {
	background-color: aliceblue;
	padding-bottom: 20px;
}

#usercontrol div{
	padding: 0 8px;
}

#usercontrol form{
	width: 95%;
	margin: auto;
}
.forgot-password{
	display: inline-block;
    width: 70%;
	color: #222222;
	font-size: 14px;
	text-align: right;
}
#login .button{
	display: inline-block;
    width: 30%;
}
#rememberme{
	width: auto!important;
}
